# Token JWT do ERP Mainô para integração (caso deseje re-executar a extração)
MAINO_API_TOKEN=

# Status dos pedidos a extrair e filtrar no dashboard (Padrão: "Pedido gerado")
MAINO_ORDER_STATUS=

# Se o nome do representante estiver vazio ou nulo, substituímos pelo nome do Coordenador ou pelo nome do Supervisor, se disponível. Caso contrário, usamos "Sem Representante".
NOME_PADRAO_REPRESENTANTE=

# Porcentagem de custos variáveis para produtos importados (Padrão: 0.2015, ou seja, 20,15%)
CUSTO_VARIAVEL_IMPORTADO=

# Porcentagem de custos variáveis para produtos nacionais (Padrão: 0.2615, ou seja, 26,15%)
CUSTO_VARIAVEL_NACIONAL=

# Porcentagem que representa o custo fixo
LUCRO_OPERACIONAL_CUSTO_FIXO=

# Nível do log
LOG_LEVEL=